#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}
#container {
  margin: 0 auto;
  height: 400px;
  width: 400px;
  color: blue;
  background-color:white;
  border-radius:15px;
}
